<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SKIN DETECTION ABOUT</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'css/favicon.ico')}}" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="{{ url_for('static', filename='css/navbar-logo.svg') }}" alt="..." /></a>
                <div id="ue">Skin Disease Detection System</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('home')}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for ('index')}}">Application</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for ('about')}}">About Us</a></li>  
                    </ul>
                </div>
            </div>
        </nav>
    
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome to Skin Detection System</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">About Us Page</a>
            </div>
        </header>


        <!-- Proffessors-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">OUR TEAM</h2>
                    <h3 class="section-subheading text-muted">Our skin disease detection system for eczema and acne was created by a team of talented and innovative students from University of the East with the guidance and support of their adviser and a dermatologist validator.</h3>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for ('static', filename='css/gene.jpg')}}" alt="..." />
                            <h4>Gene Reneil L. Campillos</h4>
                            <h6>Software Engineer</h6> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for ('static', filename='css/alerie.jpg')}}" alt="..." />
                            <h4>Alerie Anne D. Dionisio</h4>
                            <h6>Data Engineer</h6>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for ('static',  filename='css/gab.jpg')}}" alt="..." />
                            <h4>Christ Gabriel C. Guardo</h4>
                            <h6>UI/UX Designer</h6>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for ('static', filename='css/rjay.jpg')}}" alt="..." />
                            <h4>Dr. R-jay F. Agbon</h4>
                            <h6>Skin Disease Application Validator</h6>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for ('static', filename='css/vane.jpg')}}" alt="..." />
                            <h4>Vanessa M. Leoperio</h4>
                            <h6>Backend Developer</h6>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for ('static', filename='css/errol.jpg')}}" alt="..." />
                            <h4>Asst. Prof. Engr. Errol John M. Antonio</h4>
                            <h6>Design Project Adviser</h6>
                        </div>
                    </div>
                </div>
            </div>








        </section>


        <section class="page-section bg-light" id="about">
            <div class="container">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-bullseye fa-stack-1x fa-inverse"></i>
                    </span>
                    <br><br>
                    <h2 class="section-heading text-uppercase">About our System</h2>
                    <h3 class="section-subheading text-muted">Our skin disease detection system for eczema and acne is a cutting-edge technology designed to accurately diagnose and monitor these common skin conditions. Using advanced image recognition algorithms, our system can analyze photos of the affected skin and provide a detailed assessment of the severity and type of eczema or acne present.
                        With the ability to detect subtle changes in the skin, our system can help users track the progression of their skin conditions over time and provide personalized recommendations for treatment and skincare routines. By leveraging the power of artificial intelligence, our system offers a fast and reliable way to identify and manage eczema and acne, ultimately improving the overall health and appearance of the skin.                       
                        Whether you are struggling with chronic eczema flare-ups or persistent acne breakouts, our skin disease detection system is here to support you on your journey to clearer, healthier skin. Say goodbye to guesswork and uncertainty – with our innovative technology, you can take control of your skin health and achieve the glowing complexion you deserve.</h3>
                </div>
            </div>
        </section>

    

        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Visit our websiteS</h2>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-4 text-lg-start">Copyright &copy; University of the East BSCpE 2022</div>
                            <div class="col-lg-4 my-3 my-lg-0">
                                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/scpesofficial" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/uescpes" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="https://www.ue.edu.ph/mla/computer/" aria-label="LinkedIn"><i class="fab fa-google"></i></a>
                            </div>
                            <div class="col-lg-4 text-lg-end">
                                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer class="footer py-4">
             <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Campillos, Dionisio, Guardo and Leoperio 2024</div>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='css/scripts.js') }}"></script>

    </body>
</html>